.page {
  background-color: #2a2c2f;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.page__section {
  position: relative;
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
}
.page__content {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
}

.logo {
  width: 100%;
  height: 70px;
  margin: 34px auto 84px;
}

/* /////////////////////////////////////////////////////////

  LEAD

///////////////////////////////////////////////////////////// */

.lead {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  align-items: center;
}
.lead__title {
  color: #fff;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  max-width: 793px;
  margin: 0 auto;
  padding: 0;
}
.lead__subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2; /* 36px */
  padding: 0;
  margin: 0 0 64px;
  max-width: 720px;
}
.lead__image {
  max-width: 100%;
  height: 615px;
  object-fit: cover;
  margin-bottom: 92px;
}

/* /////////////////////////////////////////////////////////

  INTRO

///////////////////////////////////////////////////////////// */
.intro {
  max-width: 80%;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 118px;
}
.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
}

.intro__quote {
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  line-height: 1.41;
}
.intro__quote::before {
  content: "";
}
.intro__quote::after {
  content: "";
}
.intro__quote-author {
  margin: 0 0 32px;
  padding: 0;
  text-align: right;
  font-size: 24px;
  line-height: 1.41;
}
.intro__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.63;
}
.photo-grid {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 213px);
  gap: 16px;
  justify-content: center;
}
