.page {
  background-color: #2a2c2f;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.page__section {
  position: relative;
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
}
.page__content {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
}

.logo {
  width: 100%;
  height: 70px;
  margin: 34px auto 84px;
}

/* /////////////////////////////////////////////////////////

  LEAD

///////////////////////////////////////////////////////////// */

.lead {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  align-items: center;
}
.lead__title {
  color: #fff;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  max-width: 793px;
  margin: 0 auto;
  padding: 0;
}
.lead__subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2; /* 36px */
  padding: 0;
  margin: 0 0 64px;
  max-width: 720px;
}
.lead__image {
  max-width: 100%;
  height: 615px;
  object-fit: cover;
  margin-bottom: 92px;
}

/* /////////////////////////////////////////////////////////

  INTRO

///////////////////////////////////////////////////////////// */
.intro {
  box-sizing: border-box;
  max-width: 80%;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 118px;
}
.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
}

.intro__quote {
  box-sizing: border-box;
  margin: 0 0 10px;
  padding: 0;
  font-size: 24px;
  line-height: 1.41;
  max-width: 720px;
}
.intro__quote::before {
  content: "";
}
.intro__quote::after {
  content: "";
}
.intro__quote-author {
  margin: 0 0 32px;
  padding: 0;
  text-align: right;
  font-size: 24px;
  line-height: 1.41;
}
.intro__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.63;
  max-width: 720px;
}

/* /////////////////////////////////////////////////////////

  PHOTO=GRID

///////////////////////////////////////////////////////////// */
.photo-grid {
  box-sizing: border-box;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 213px);
  gap: 16px;
  justify-content: center;
}

/* /////////////////////////////////////////////////////////

  PLACES

///////////////////////////////////////////////////////////// */
.places {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 80px;
}

.place {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  grid-template-columns: minmax(auto, 460px) 49.19%;
  grid-template-rows: auto auto max-content;
  column-gap: 40px;
  row-gap: 48px;
}
.place__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05; /* 76px */
}
.place__website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 8px;
  max-width: max-content;
}
.place__url-heading {
  grid-area: url-heading;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  color: #aaa;
}
.place__artist {
  grid-area: artist;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22; /* 22px */
}
.place__image {
  grid-area: image;
  margin: 0;
  padding: 0;
}
.place__description {
  grid-area: text;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 25px;
}
.place__paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
}
.place__button {
  box-sizing: border-box;
  grid-area: button;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  padding: 13px 15px;
  max-width: 248px;
  min-height: 22px;
  /* max-height: 22px; */

  border-radius: 4px;
  background: #0278fe;
  color: #fff;
}
